<h1 align="center">{{ "Revature Product App - JWA Primer Batch" | uppercase }} </h1>
<hr/>
<!-- <first-component></first-component>
<app-employee></app-employee>
<app-employee-detail></app-employee-detail>
<app-product-list></app-product-list>
<app-product-details></app-product-details> -->
<a routerLink="welcome">Welcome App</a>|&nbsp;
<a routerLink="empDetails">Employee Details</a>|&nbsp;
<a routerLink="emp">Employee App</a>|&nbsp;
<a routerLink="productList">Product App</a>|&nbsp;

<router-outlet></router-outlet>